<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registroForm" (ngSubmit)="registrarUsuario()">
    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-datetime formControlName="fechaNacimiento" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-text color="danger" *ngIf="edadInvalida">
      <p>Debes tener al menos 18 años para registrarte.</p>
    </ion-text>

    <ion-button expand="full" type="submit" [disabled]="registroForm.invalid || edadInvalida">
      Registrarse
    </ion-button>
  </form>
</ion-content>
